<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"> 
    <!-- 
    Smart developers always View Source. 
    
    This application was built using Adobe Flex, an open source framework
    for building rich Internet applications that get delivered via the
    Flash Player or to desktops via Adobe AIR. 
    
    Learn more about Flex at http://flex.org 
    // -->
    <head>
        <title>StreamertyClient</title>
        <meta name="google" value="notranslate">         
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 
    </head>
    <body>
        <!-- SWFObject's dynamic embed method replaces this alternative HTML content with Flash content when enough 
             JavaScript and Flash plug-in support is available. The div is initially hidden so that it doesn't show
             when JavaScript is disabled.
        -->
 <object type="application/x-shockwave-flash” data="Publisher.swf" width="500" height="400">
 <param name="quality" value="high">
 <param name="flashVars" value="sid=streamer1">
 <param name="bgcolor" value="#ffffff">
 <embed src="Publisher.swf" width="500" height="400" flashVars="sid=streamer1" type="application/x-shockwave-flash" play="true" 
 loop="true" menu="true"></embed>
 </object>
 <br/>
 <object type="application/x-shockwave-flash” data="Subscriber.swf" width="500" height="400">
 <param name="flashVars" value="sid=streamer2">
 <param name="quality" value="high">
 <param name="bgcolor" value="#ffffff">
 <embed src="Subscriber.swf" width="500"  height="400" flashVars="sid=streamer2" type="application/x-shockwave-flash" play="true" 
 loop="true" menu="true"></embed>
 </object>
 <br/>
   </body>
</html>
