<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Free CSS template by ChocoTemplates.com</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<!--[if IE 6]>
		<style type="text/css" media="screen">
			#main .box .holder a.play{background-image: none;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/images/play.png', sizingMethod='image');}	
			#main .box .holder .stripe{background-image: none;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/images/dot.png', sizingMethod='scale');}	
		</style>
	<![endif]-->
	
	<script src="js/jquery-1.3.2.min.js" type="text/javascript"></script>
	<script src="js/jquery-func.js" type="text/javascript"></script>
	
</head>
<body>
<!-- Shell -->
<div class="shell">
	
	<!-- Header -->
	<div id="header">
		<h1 id="logo"><a href="#">wbfashion</a></h1>
		<div class="right-part">
			<p>		
			<a href="#">sign in</a>
			<a href="#">create account</a>
			</p>
			<form action="" class="search" method="post">
				<div class="fld">
					<input type="text" class="field blink" title="search" value="search" />
				</div>
				<div class="btnp"><input type="submit" value="Submit" /></div>
			</form>
		</div>
	</div>
	<!-- End Header -->
	
	<!-- Navigation -->
	<div id="nav">
		<div class="inner">
			<ul>
			    <li class="active"><a href="#" class="first">home</a></li>
			    <li><a href="#">fashion news</a></li>
			    <li><a href="#">celebrities</a></li>
			    <li><a href="#">shopping</a></li>
			    <li><a href="#">beauty</a></li>
			    <li><a href="#">videos</a></li>
			    <li><a href="#">community</a></li>
			</ul>
		</div>
	</div>
	<!-- End Navigation -->
	
	<!-- Content -->
	<div id="content">
		
		<!-- Main -->
		<div id="main">
			<div class="box">
				<div class="top">
					<div class="bottom">
						
						<!-- Big Image -->
						<div class="holder">
							<div class="cl">&nbsp;</div>
							<div class="stripe">
								<strong>The Singular Suit Project</strong>
							</div>
							<div class="cl">&nbsp;</div>
							<a href="#"><img src="css/images/model.jpg" alt="" /></a>
							<div class="cl">&nbsp;</div>
							<a href="#" class="view-all">view all videos</a>
						</div>
						<!-- End Big Image -->
						
						<!-- Videos -->
						<div class="right-col">
							<h2><a href="#" class="rss">&nbsp;</a> Today's videos </h2>	
							<div class="holder">
								<a href="#" class="play">&nbsp;</a>
								<div class="cl">&nbsp;</div>
								<a href="#"><img src="css/images/pic1.jpg" alt="" /></a>
								<a href="#" class="blue">Summer Uni 2009!</a>
								<div class="cl">&nbsp;</div>
							</div>
							<div class="holder right">
								<a href="#" class="play">&nbsp;</a>
								<a href="#"><img src="css/images/pic2.jpg" alt="" /></a>
								<a href="#" class="blue">Try Me by Farah Damji </a>
							</div>
							<div class="holder">
								<a href="#" class="play">&nbsp;</a>
								<div class="cl">&nbsp;</div>
								<a href="#"><img src="css/images/pic5.jpg" alt="" /></a>
								<a href="#" class="blue">eva models</a>
								<div class="cl">&nbsp;</div>
							</div>
							<div class="holder right">
								<a href="#" class="play">&nbsp;</a>
								<a href="#"><img src="css/images/pic4.jpg" alt="" /></a>
								<a href="#" class="blue">The Singular Suit Project</a>
							</div>
						</div>
						<!-- End Videos -->
						<div class="cl">&nbsp;</div>
					</div>
				</div>
			</div>
			
			<!-- Box  -->
			<div class="simple">
				<h2 class="no-border">daily beauty <span>reporter</span>!</h2>
				<a href="#" class="image"><img src="css/images/leather.jpg" alt="" /></a>
				<div class="info">
					<h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a></h3>
					<span>23.05.09</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque turpis urna, rhoncus a tempus in, blandit vel nibh. Sed interdum erat eget lacus commodo mattis. Donec ac ante ut dui scelerisque consequat. Phasellus facilisis luctus elit ac sollicitudin. Curabitur pulvinar malesuada accumsan.</p>
					<p>Donec luctus mauris a velit aliquam in volutpat diam viverra. Nulla ipsum magna, pellentesque et imperdiet eget, interdum sed neque.</p>
					<p>Nullam tempor pellentesque pulvinar. Quisque elementum purus vitae urna vulputate molestie. Nam tortor tellus, pulvinar non pellentesque eget, aliquam vel ligula. Curabitur eleifend, diam ac pulvinar porttitor, massa elit lobortis ligula, a blandit nunc nulla vitae mauris. Nullam laoreet lacus ut quam sodales semper. Aliquam eu eros blandit </p>
				</div>
				<div class="cl">&nbsp;</div>
				<a href="#" class="small">Previous news</a>
				<a href="#" class="small">All news</a>
				<a href="#" class="small">Next news</a>
				<div class="cl">&nbsp;</div>
			</div>
			<!-- End Box  -->
			
			<!-- Box  -->
			<div class="simple">
				<h2><a href="#" class="rss">&nbsp;</a> celebreties</h2>
				<div class="cl">&nbsp;</div>
				<div class="frame">
					<div class="holder">
						<a class="space image" href="#"><img src="css/images/pics1.jpg" alt="" /></a>
						<div class="cl">&nbsp;</div>
						<a href="#" class="blue">Lorem ipsum dolor sitamet</a>
					</div>	
					<div class="holder">
						<a class="space image" href="#"><img src="css/images/pics2.jpg" alt="" /></a>
						<div class="cl">&nbsp;</div>
						<a href="#" class="blue">Pellentesque turpisurna</a>
					</div>
					<div class="holder">
						<a class="space image" href="#"><img src="css/images/pics3.jpg" alt="" /></a>
						<div class="cl">&nbsp;</div>
						<a href="#" class="blue">Phasellus facilisisluctus</a>
					</div>	
					<div class="holder">
						<a href="#" class="image"><img src="css/images/pics4.jpg" alt="" /></a>
						<div class="cl">&nbsp;</div>
						<a href="#" class="blue">uisque elementumpurus vitae urn</a>
					</div>	
					<div class="cl">&nbsp;</div>
				</div>	
				<div class="cl">&nbsp;</div>
			</div>
			<!-- End Box  -->
			
			<!-- Box  -->
			<div class="simple">
				<div class="small-nav">
					<ul>
					    <li><a href="#" class="active">Fashion news</a></li>
					    <li><a href="#">trends</a></li>
					    <li><a href="#">shopping</a></li>
					    <li><a href="#">beauty</a></li>
					    <li><a href="#">models</a></li>
					</ul>
					<div class="cl">&nbsp;</div>
				</div>
				<a href="#" class="image"><img src="css/images/pic7.jpg" alt="" /></a>
				<div class="description">
					<h4><a href="#">Lorem ipsum dolor sitamet</a></h4>
					<p>Donec luctus mauris a velit aliquam in volutpat diam viverra.Nulla ipsum magna, pellentesque et imperdiet eget, interdum sed neque.</p>
					<a href="#">read full story</a>
				</div>
				<a href="#" class="image"><img src="css/images/pic8.jpg" alt="" /></a>
				<div class="description">
					<h4><a href="#">uisque elementumpurus vitae urn</a></h4>
					<p>Donec luctus mauris a velit aliquam in volutpat diam viverra.Nulla ipsum magna.</p>
					<a href="#">read full story</a>
				</div>
				<div class="cl">&nbsp;</div>
			</div>
			<!-- End Box  -->
			
		</div>
		<!-- End Main -->
		
		<!-- Sidebar -->
		<div id="sidebar">
			<div class="top">
				<h2>categories</h2>
				<ul class="pink">
				    <li><a href="#">celebreties</a></li>
				    <li><a href="#">model agency</a></li>
				    <li><a href="#">photo gallery</a></li>
				    <li><a href="#">health and beauty</a></li>
				    <li><a href="#">boutique</a></li>
				    <li><a href="#">trends</a></li>
				    <li><a href="#">videos</a></li>
				</ul>
				<div class="ad">
					<small>advertising</small>
					<a href="#"><img src="css/images/ad.jpg" alt="" /></a>
				</div>
				<h2>most readed</h2>
				<ul class="blue">
				    <li><a href="#">Lorem ipsum dolor sit amet, consectetur <br />adipiscing elit. </a></li>
				    <li><a href="#">Summer uni 2009!</a></li>
				    <li><a href="#">The singular suit project</a></li>
				    <li><a href="#">Eva models</a></li>
				    <li><a href="#">Try me by faah damji</a></li>
				    <li><a href="#">Purus vitae urna molesti </a></li>
				    <li><a href="#">Quisque elementum purus vita</a></li>
				    <li><a href="#">Ipsum dolor sit consectetur</a></li>
				    <li><a href="#">Ac diam pulvinar porttitor</a></li>
				</ul>
				<h2>blog roll</h2>
				<ul class="blue">
				    <li>
				    	<small>21.05.09 | posted by <a href="#">admin</a></small>
				    	<a href="#">Lorem ipsum dolor sit amet, consectetur <br />adipiscing elit. </a>
				    </li>
				    <li>
				    	<small>21.05.09 | posted by <a href="#">admin</a></small>
				    	<a href="#">Nulla ipsum magna pellentesque et imperdiet<br /> eget, intercedm sed neque </a>
				    </li>
				    <li>
				    	<small>21.05.09 | posted by <a href="#">admin</a></small>
				    	<a href="#">Consecettur adipsicing elit pellentesque turpis<br /> unra tempus.</a>
				    </li>
				    <li>
				    	<small>21.05.09 | posted by <a href="#">admin</a></small>
				    	<a href="#">Curabitu eleifend , diam ac pulvinar portititor, <br />massa elit lobortis ligula a blandit</a>
				    </li>
				    <li>
				    	<small>21.05.09 | posted by <a href="#">admin</a></small>
				    	<a href="#">Lorem ipsum dolor sit amet, consectetur <br />adipiscing elit. </a>
				    </li>
				    <li>
				    	<small>21.05.09 | posted by <a href="#">admin</a></small>
				    	<a href="#">Lorem ipsum dolor sit amet, consectetur <br />adipiscing elit. </a>
				    </li>
				</ul>
			</div>
		</div>
		<!-- End Sidebar -->
		
	</div>
	<!-- End Content -->
	<div class="cl">&nbsp;</div>
	
	<!-- Footer -->
	<div id="footer">
		<a href="#" class="sm-logo">wbfashion</a>
		<div class="right-area">
			<p>&copy; Sitename.com. Design by <a href="http://chocotemplates.com">ChocoTemplates.com</a></p>
		</div>
		<div class="cl">&nbsp;</div>
	</div>
	<!-- End Footer -->
</div>
<!-- End Shell -->
</body>
</html>