* {
    padding:0;
    margin:0;
    outline:0;
}
.cl {
    font-size:0;
    line-height:0;
    height:0;
    display:block;
    clear:both;
}
.cline {
  border-bottom:dotted 1px #dedede;margin-bottom:3px;
     clear:both;
    
}

body{
    background:url(../images/templ/bg.gif);
    font-family:Arial, sans-serif;
    color:#4e4e4e;
    font-size:11px;
    line-height:14px;
    padding-bottom:70px;
}
a{
    color:#ff00d2;
    text-decoration: underline;
    text-transform: uppercase;
}
a:hover{
    text-decoration:none
}
a img{
    border:0;
}
.shell{width:930px; margin:0 auto}

#header{height:70px;}
#header .right-part{float: right; display: block; padding-top:10px}
#header .right-part p{text-align: right;}
#header .right-part a{text-align: right; margin-left:18px;float: right;}
#header .right-part .search{padding-top:18px; }
#header .right-part .search .field{width:255px; font-size: 11px; line-height: 13px;
margin-top:4px; margin-left:1px; padding-left:2px; border:0; color:#b3b19d;
text-transform: uppercase; background:#fff;}
#header .right-part .search .btnp {float: left; display: inline;}
#header .right-part .search .btnp input{
	width:29px; 
	height:22px;
	font-size: 0; 
	line-height: 0px;
	text-indent: -4000px;
	background:url(../images/templ/go.gif);
	float: right;
	display: inline;
	cursor:pointer;
	border:0;
}
#header .right-part .search .fld{width:228px; height:22px; background:url(../images/templ/fld.gif);
float: left; display: inline;}

h1#logo{
	background-image: none;
	font-size: 30;
	line-height:0;
	width:264px;
	height:40px;
	float: left;
	display: inline;
	padding-top:23px;
}
h1#logo a{
	display: block;
	margin-top: 10px;
	/*text-indent: -4000px;
	height:48px;
	background:url(../images/templ/logo_.gif);*/
}
h2{font-size: 20px; color:#2a2a2a; font-weight: normal; text-transform: uppercase; font-family: georgia, sans-serif; padding-bottom:8px; border-bottom:solid 2px #dedede; margin-right:5px; margin-bottom: 2px;}
h2 span{color:#ff0081}
h3{color:#0f89df; font-size: 15px; font-family: "trebuchet ms", sans-serif; text-transform: uppercase; line-height: 18px;}
h4{color:#0f89df; font-size: 12px; font-family: "trebuchet ms", sans-serif; text-transform: uppercase; line-height: 16px;}

.no-border{border-bottom:0;}

#content #main .box .right{float: right; display: inline;}

#nav{height:28px; background:url(../images/templ/pink-right.gif) no-repeat right 0; padding-right:5px; font-family: "trebuchet ms", sans-serif;}
#nav .inner{height:28px; background:url(../images/templ/pink-rep.gif) repeat-x}
#nav ul{list-style-type: none; font-size: 12px; text-transform: uppercase; font-weight: bold; height:28px}
#nav li{float: left; display: inline; background:url(../images/templ/li-bg.gif) no-repeat right 0; padding-right:1px }
#nav li a{float: left; display: inline; color:#fff; line-height: 28px; text-decoration: none; padding:0 11px}
#nav li a.first{background:url(../images/templ/pink-left.gif) no-repeat; }
#nav li.active a.first{background:#74ccef url(../images/templ/active.gif) no-repeat; }
#nav li.active a{background:#74ccef; color:#174f65; }

#content{padding-top:8px;}

a.view-all{font-size: 10px; text-transform: uppercase; color:#6b6b6b; text-decoration: none; background:url(../images/templ/grey-rounded.gif); width:109px; line-height:22px; text-align: center; margin-top:14px}

#main{width:623px; float: left; display: inline;}
.item{width:400px; float: left; display: inline;}
#main .box{width:623px; background:url(../images/templ/box-rep.gif) repeat-y;  margin-bottom:8px}
#main .box .right-col{float: left; display: inline; width:302px; padding-left:8px; padding-top:5px}
#main .box .right-col h2{margin-bottom:10px;  }
#main .box .right-col .holder{width:143px; margin-bottom:20px; }
#main a.blue{color:#0f89df; text-decoration: none; font-weight: bold; float: left; margin-top:3px}

 .field{width:205px; font-size: 11px; line-height: 13px; margin-top:4px; margin-left:18px; padding-left:2px; border:0; color:#b3b19d; text-transform: none; background:#fff}
#main .fld{width:228px; height:22px; background:url(../images/templ/fldcommon.gif); float: left; display: inline;}
#main .btnp {float: left; display: inline;}

a.blue:hover { color:#ff00d2 !important;}

#main h2 a.rss{background:url(../images/templ/rss.gif); float: right; display: inline; width:19px; height:19px; text-indent: -4000px; line-height: 0; font-size: 0;}
#main .box a{float: left; display: inline;}
#main .box .holder{width:294px; position:relative; z-index: 1; float:left; display: inline;}
#main .box .holder a.play{
	width:29px; 
	height:29px; 
	position:absolute; 
	top:57px; 
	left:57px;
	z-index: 10; 
	display: block; 
	background:url(../images/templ/play.png); 
	text-indent: -4000px; 
	line-height: 0; 
	font-size: 0;
	cursor:pointer;
}
#main .box .holder .stripe{position:absolute; top:284px; left:44px; z-index: 10; height:84px; background:url(../images/templ/dot.png); width:245px}
#main .box .holder .stripe strong{font-family: "trebuchet ms", sans-serif; font-size: 23px; color:#00a2ff; text-transform: uppercase; line-height: 25px; padding:10px 0 0 13px; display: block;}
#main .box a img{display: block; border:solid 1px #dedede; padding:4px}
#main .box .top{width:623px; background:url(../images/templ/box-top.gif) no-repeat; }
#main .box .bottom{width:612px; background:url(../images/templ/box-bottom.gif) no-repeat 0 bottom; padding-top:12px; padding-left:11px; padding-bottom:10px}

#main .simple {width:609px; background:#fff; border:solid 1px #dcdcdc; padding-top:12px; padding-left:12px; padding-bottom:10px; margin-bottom:6px}
#main .simple .holder{width:143px; float: left; display: inline; margin-right:9px}
#main .simple a{ color:#0f89df; text-decoration: none;}
#main .simple a:hover{ color:#ff00d2; }
#main .simple a.image{float: left; display: inline;}
#main .simple a.image img{display: block; padding:4px; border:solid 1px #dedede;}

#main .simple .image{float: left; display: inline;}
#main .simple .image img{display: block; padding:4px; border:solid 1px #dedede;}

#main em{color:#f8379b; text-decoration: none; font-weight: bold; font-style: italic; }

.right{float: right; display: inline;padding-right:17px;padding-bottom:5px;}
.right-btn{float: right; display: inline; margin-top: -8px; right:10px;}
.avatarUpload{float: left; display: inline}
.block{display: block;}
#main .frame{padding-top:19px}

.info{float: left; display: inline; width:420px; padding-left:8px}
.info span.date{color:#9b9b9b; display: block;}
.info p{padding-bottom:15px}

a.small{font-size: 10px; color:#6b6b6b; text-transform: uppercase; margin-right:15px}

.small-nav{height:29px; border-bottom:solid 1px #dedede; margin-left:-10px; margin-top:-10px; margin-bottom:8px}
.small-nav ul{list-style-type: none; font-family: georgia, sans-serif; text-transform: uppercase;}
.small-nav li{float: left; border-right:solid 1px #dedede; height:29px; line-height: 29px; padding:0 7px}
.small-nav li a{float: left; color:#232323; text-decoration: none;}
.small-nav li a:hover, .small-nav li a.active{color:#ff0081}

.description{width:425px; float: left; display: inline; padding-left:5px}
.description h4{padding-bottom:4px}
/*.description p{padding-bottom:10px; width:415px}*/

#sidebar{width:301px; float: right; display: inline; background:url(../images/templ/sidebar.gif) repeat-y; border-bottom:solid 1px #dcdcdc}
#sidebar .top{width:291px;  background:url(../images/templ/sidebar-top.gif) no-repeat; padding-top:15px; padding-left:10px}
#sidebar ul.pink{list-style-type: none; font-size: 12px; padding-top:10px; width:280px; border-bottom:solid 2px #dedede}
#sidebar ul.pink li{ background:url(../images/templ/bull.gif) no-repeat 0 3px; padding-left:15px; text-transform: uppercase; padding-bottom:10px}
#sidebar ul.pink li a{color:#f8379b; text-decoration: none;}
#sidebar ul.pink li a:hover{text-decoration: underline;}
#sidebar ul.blue{list-style-type: none; padding-top:10px; margin-bottom:30px}
#sidebar ul.blue li{border-bottom:solid 1px #ededed; padding-bottom:5px; padding-top:2px; font-size: 12px;}
#sidebar ul.blue li a{text-transform: none; color:#0f89df; }
#sidebar ul.blue small {color:#8e8e8e; display: block;}
#sidebar ul.blue small a{color:#ff00d2}



.ad{padding-top:12px;  margin-bottom:30px}
.ad a img{display: block; padding:1px; border:solid 1px #e4e4e4}
.ad small{font-size: 8px; text-transform: uppercase; display: block; color:#b0b0b0}

#footer{background:#fff; border:solid 1px #dcdcdc; height:70px; font-size: 10px; color:#515151; text-transform: uppercase; font-family: "trebuchet ms", sans-serif; text-align: right;}
#footer .right-area{float: right; display: inline; padding-top:25px; padding-right:17px}
#footer a.sm-logo{background:url(../images/templ/fashion.gif); width:155px; height:34px; float: left; text-indent: -4000px; line-height: 0; font-size: 0; margin:16px 0 0 20px; text-align: left;}


.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
    float:left;
    
}



.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons button {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons button.cancel {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}

input.savebtn {
	 background: #fff;
    border: 1;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
   padding-left: 28px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}

/* TABLES */

table {
   /* border: 1px solid #ccc;*/
    width: 100%
}
tr {
    border: 0;
}
td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
th {
    background: #fff url(../images/skin/shadow.jpg);
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}

/* LIST */

.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

